*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body{
    background-image: url(../image/im1.webp);
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
    backdrop-filter: blur(14px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.SECT1{
    
    background-image: url(../image/im1.webp);
    background-position: center;
    background-size: cover;
    width: 87%;
    height: 85%;
    /* margin-top: 20px;
    margin-left: 20px; */
    /* background-color: rgba(240, 245, 245, 0.192); */
    backdrop-filter: blur(24px);
    border:2px solid cornsilk;
    border-radius: 10px;

    display: flex;
    justify-content: center;
   


}


.logo{
    margin: 30px;
    width: 40%;
    height: 60px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.Imag{
    width: 150px;
    height: 150px;
}

 /* .contenu{
position: absolute;
top: 0px;
left:0px;
width: 70px;
height: 100%;
background-color: rgba(3, 3, 3, 0.219);
backdrop-filter: blur(24px);
border-radius: 10px 0px 0px 10px;

} */
 /* .DECO1{
position: absolute;
top: 300px;
left:80px;
width: 165px;
height: 120px;
background-color: rgba(239, 248, 248, 0.089);
backdrop-filter: blur(10px);
border-radius: 10px ;

} */

/* h2{
    padding: 10px;
    text-align: center;
    color: rgba(240, 245, 255, 0.555);
}
span{
    color: rgb(255, 255, 255);
}

h3{
    text-align: center;
    color: rgba(240, 248, 255, 0.548);
}
a{
    color: rgba(54, 118, 179, 0.404);
} */

.vertical-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 70px;
    background-color: rgba(3, 3, 3, 0.219);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    backdrop-filter: blur(24px);
    border-radius: 10px 0px 0px 10px;


}
.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.menu li {
    width: 100%;
}

.menu li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #fff;
    padding: 15px 0;
    transition: background-color 0.3s;
    border-radius: 5px 0px 50px 0px;

}

.menu li a:hover {
    background-color: #5e91b37c;
}

.menu li a i {
    font-size: 24px;
    margin-bottom: 5px;
}

.menu li a span {
    font-size: 12px;
    text-align: center;
}

.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: #000000;
    margin-bottom: 20px;
}

.menu-toggle {
    display: none;
}

.im2{
    position: absolute;
    top: 100px;
    width: 230px;
    height: 200px;
    border-radius: 50px 0px 50px 0px ;
}

@media (max-width: 600px) {
    .im{
        display: none;
    }
    .vertical-menu {
        width: 100%; ;
        height: auto;
        padding: 10px 0;
        position: absolute;
        background-color: transparent;
        backdrop-filter: blur(0px);
        
    }
    .menu {
        display: none;
        flex-direction: row;
        justify-content: space-around;
    }
    .menu-toggle:checked + .menu-icon + .menu {
        display: flex;
    }
    .menu-icon {
        display: block;
        text-align: center;
        width: 100%;
    }
    .menu li a {
        flex-direction: row;
    }
    .menu li a i {
        margin-right: 10px;
        margin-bottom: 0;
    }
    .menu li a span {
        font-size: 16px;
    }
}
 
.im{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}